###############################
# Git Line Endings            #
###############################

# Set default behaviour to automatically normalize line endings.
* text=auto

# Force batch scripts to always use CRLF line endings so that if a repo is accessed
# in Windows via a file share from Linux, the scripts will work.
*.{cmd,[cC][mM][dD]} text eol=crlf
*.{bat,[bB][aA][tT]} text eol=crlf

# Force bash scripts to always use LF line endings so that if a repo is accessed
# in Unix via a file share from Windows, the scripts will work.
*.{sh,[sS][hH]} text eol=lf

###############################
# Git Large File System (LFS) #
###############################

# Documents
*.{doc,[dD][oO][cC]} filter=lfs diff=lfs merge=lfs -text
*.{docx,[dD][oO][cC][xX]} filter=lfs diff=lfs merge=lfs -text
*.{odg,[oO][dD][gG]} filter=lfs diff=lfs merge=lfs -text
*.{ods,[oO][dD][sS]} filter=lfs diff=lfs merge=lfs -text
*.{odt,[oO][dD][tT]} filter=lfs diff=lfs merge=lfs -text
*.{pdf,[pP][dD][fF]} filter=lfs diff=lfs merge=lfs -text
*.{ppt,[pP][pP][tT]} filter=lfs diff=lfs merge=lfs -text
*.{pptx,[pP][pP][tT][xX]} filter=lfs diff=lfs merge=lfs -text
*.{xls,[xX][lL][sS]} filter=lfs diff=lfs merge=lfs -text
*.{xlsx,[xX][lL][sS][xX]} filter=lfs diff=lfs merge=lfs -text

# Fonts
*.{otf,[oO][tT][fF]} filter=lfs diff=lfs merge=lfs -text
*.{ttf,[tT][tT][fF]} filter=lfs diff=lfs merge=lfs -text
*.{woff2,[wW][oO][fF][fF][2]} filter=lfs diff=lfs merge=lfs -text

# Images
*.{ai,[aA][iI]} filter=lfs diff=lfs merge=lfs -text
*.{bmp,[bB][mM][pP]} filter=lfs diff=lfs merge=lfs -text
*.{dds,[dD][dD][sS]} filter=lfs diff=lfs merge=lfs -text
*.{dwg,[dD][wW][gG]} filter=lfs diff=lfs merge=lfs -text
*.{dxf,[dD][xX][fF]} filter=lfs diff=lfs merge=lfs -text
*.{exr,[eE][xX][rR]} filter=lfs diff=lfs merge=lfs -text
*.{gif,[gG][iI][fF]} filter=lfs diff=lfs merge=lfs -text
*.{hdr,[hH][dD][rR]} filter=lfs diff=lfs merge=lfs -text
*.{ico,[iI][cC][oO]} filter=lfs diff=lfs merge=lfs -text
*.{jpeg,[jJ][pP][eE][gG]} filter=lfs diff=lfs merge=lfs -text
*.{jpg,[jJ][pP][gG]} filter=lfs diff=lfs merge=lfs -text
*.{kra,[kK][rR][aA]} filter=lfs diff=lfs merge=lfs -text
*.{pfm,[pP][fF][mM]} filter=lfs diff=lfs merge=lfs -text
*.{pic,[pP][iI][cC]} filter=lfs diff=lfs merge=lfs -text
*.{png,[pP][nN][gG]} filter=lfs diff=lfs merge=lfs -text
*.{psb,[pP][sS][bB]} filter=lfs diff=lfs merge=lfs -text
*.{psd,[pP][sS][dD]} filter=lfs diff=lfs merge=lfs -text
*.{raw,[rR][aA][wW]} filter=lfs diff=lfs merge=lfs -text
*.{tif,[tT][iI][fF]} filter=lfs diff=lfs merge=lfs -text
*.{tiff,[tT][iI][fF][fF]} filter=lfs diff=lfs merge=lfs -text
*.{tga,[tT][gG][aA]} filter=lfs diff=lfs merge=lfs -text
*.{webp,[wW][eE][bB][pP]} filter=lfs diff=lfs merge=lfs -text

# Videos
*.{aep,[aA][eE][pP]} filter=lfs diff=lfs merge=lfs -text
*.{avi,[aA][vV][iI]} filter=lfs diff=lfs merge=lfs -text
*.{mkv,[mM][kK][vV]} filter=lfs diff=lfs merge=lfs -text
*.{mov,[mM][oO][vV]} filter=lfs diff=lfs merge=lfs -text
*.{mp4,[mM][pP][4]} filter=lfs diff=lfs merge=lfs -text
*.{mpeg,[mM][pP][eE][gG]} filter=lfs diff=lfs merge=lfs -text
*.{mpg,[mM][pP][gG]} filter=lfs diff=lfs merge=lfs -text
*.{prproj,[pP][rR][pP][rR][oO][jJ]} filter=lfs diff=lfs merge=lfs -text
*.{webm,[wW][eE][bB][mM]} filter=lfs diff=lfs merge=lfs -text
*.{wmv,[wW][mM][vV]} filter=lfs diff=lfs merge=lfs -text

# Audios
*.{aac,[aA][aA][cC]} filter=lfs diff=lfs merge=lfs -text
*.{aif,[aA][iI][fF]} filter=lfs diff=lfs merge=lfs -text
*.{aiff,[aA][iI][fF][fF]} filter=lfs diff=lfs merge=lfs -text
*.{flac,[fF][lL][aA][cC]} filter=lfs diff=lfs merge=lfs -text
*.{mp3,[mM][pP][3]} filter=lfs diff=lfs merge=lfs -text
*.{ogg,[oO][gG][gG]} filter=lfs diff=lfs merge=lfs -text
*.{wma,[wW][mM][aA]} filter=lfs diff=lfs merge=lfs -text
*.{wav,[wW][aA][vV]} filter=lfs diff=lfs merge=lfs -text

# 3D
*.{3ds,[3][dD][sS]} filter=lfs diff=lfs merge=lfs -text
*.{abc,[aA][bB][cC]} filter=lfs diff=lfs merge=lfs -text
*.{amf,[aA][mM][fF]} filter=lfs diff=lfs merge=lfs -text
*.{bgeo,[bB][gG][eE][oO]} filter=lfs diff=lfs merge=lfs -text
*.{blend,[bB][lL][eE][nN][dD]} filter=lfs diff=lfs merge=lfs -text
*.{bpoly,[bB][pP][oO][lL][yY]} filter=lfs diff=lfs merge=lfs -text
*.{c4d,[cC][4][dD]} filter=lfs diff=lfs merge=lfs -text
*.{fbx,[fF][bB][xX]} filter=lfs diff=lfs merge=lfs -text
*.{geo,[gG][eE][oO]} filter=lfs diff=lfs merge=lfs -text
*.{glb,[gG][lL][bB]} filter=lfs diff=lfs merge=lfs -text
*.{gltf,[gG][lL][tT][fF]} filter=lfs diff=lfs merge=lfs -text
*.{hip,[hH][iI][pP]} filter=lfs diff=lfs merge=lfs -text
*.{hiplc,[hH][iI][pP][lL][cC]} filter=lfs diff=lfs merge=lfs -text
*.{hipnc,[hH][iI][pP][nN][cC]} filter=lfs diff=lfs merge=lfs -text
*.{ma,[mM][aA]} filter=lfs diff=lfs merge=lfs -text
*.{max,[mM][aA][xX]} filter=lfs diff=lfs merge=lfs -text
*.{mb,[mM][bB]} filter=lfs diff=lfs merge=lfs -text
*.{obj,[oO][bB][jJ]} filter=lfs diff=lfs merge=lfs -text
*.{poly,[pP][oO][lL][yY]} filter=lfs diff=lfs merge=lfs -text
*.{rib,[rR][iI][bB]} filter=lfs diff=lfs merge=lfs -text
*.{stl,[sS][tT][lL]} filter=lfs diff=lfs merge=lfs -text
*.{usd,[uU][sS][dD]} filter=lfs diff=lfs merge=lfs -text
*.{usdc,[uU][sS][dD][cC]} filter=lfs diff=lfs merge=lfs -text
*.{usdz,[uU][sS][dD][zZ]} filter=lfs diff=lfs merge=lfs -text
*.{vdb,[vV][dD][bB]} filter=lfs diff=lfs merge=lfs -text

# Unreal
*.{dna,[dD][nN][aA]} filter=lfs diff=lfs merge=lfs -text
*.{locres,[lL][oO][cC][rR][eE][sS]} filter=lfs diff=lfs merge=lfs -text
*.{locmeta,[lL][oO][cC][mM][eE][tT][aA]} filter=lfs diff=lfs merge=lfs -text
*.{uasset,[uU][aA][sS][sS][eE][tT]} filter=lfs diff=lfs merge=lfs -text
*.{umap,[uU][mM][aA][pP]} filter=lfs diff=lfs merge=lfs -text

# Archives
*.{7z,[7][zZ]} filter=lfs diff=lfs merge=lfs -text
*.{br,[bB][rR]} filter=lfs diff=lfs merge=lfs -text
*.{gz,[gG][zZ]} filter=lfs diff=lfs merge=lfs -text
*.{tar,[tT][aA][rR]} filter=lfs diff=lfs merge=lfs -text
*.{zip,[zZ][iI][pP]} filter=lfs diff=lfs merge=lfs -text

# Other
*.{bin,[bB][iI][nN]} filter=lfs diff=lfs merge=lfs -text
